/**
 * Syntax highlighting styles
 */

// One-line code snippet
code {
  font-family: $monospace;
  font-size: inherit;
  color: #aef;
}

// Code blocks
div.highlighter-rouge {
  position: relative;
  margin-top: 20px;
  border: solid 1px $input-border-color;
  border-radius: $code-block-border-radius;
  background-color: #fff;
  background-image: url('../images/grid-fg.svg');
  background-size: 11px;
  background-clip: padding-box;
  font-family: $monospace;
  color: #333;
  &.has-demo {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  & + .demo-container > canvas {
    border-bottom-left-radius: $code-block-border-radius;
    border-bottom-right-radius: $code-block-border-radius;
  }
  pre {
    position: relative;
    margin: 0;
    padding: 10px 15px;
    text-align: left;
    font-size: 11pt;
    white-space: pre;
    overflow-x: auto;
    @include layout(compact) {
      font-size: 12pt;
    }
  }
  code {
    color: inherit;
  }
}

// Syntax highlighting styles
.highlight {
  // Comments
  .c, .c1, .cm, .cp, .cs {
    color: $code-gray;
  }
  // Keywords
  .k, .kc, .kd {
    color: $code-blue;
  }
  // Strings (single- and double-quoted)
  .s1, .s2 {
    color: $code-orange;
  }
  // Numbers
  .m, .mf, .mi, .mh, .mo {
    color: $code-green;
  }
  // Object literal key names and HTML attribute names
  .na {
    color: $code-purple;
  }
  // HTML tag names
  .nt {
    color: $code-blue;
  }
  // HTML attribute values
  .s {
    color: $code-green;
  }
}

.try-in-sandbox {
  border-top-right-radius: $code-block-border-radius - 1px;
}

// CodeMirror code editor
.cm-s-default {
  // Comments
  .cm-comment {
    color: $code-gray;
  }
  // Keywords
  .cm-keyword {
    color: $code-blue;
  }
  // Strings (single- and double-quoted)
  .cm-string {
    color: $code-orange;
  }
  // Numbers
  .cm-number {
    color: $code-green;
  }
  // Property names
  .cm-property {
    color: $code-purple;
  }
  // Do not color function names
  .cm-def {
    color: inherit;
  }
  .cm-variable,
  .cm-variable-2,
  .cm-variable-3 {
    color: inherit;
  }
}
