// Drawer used for sidebar on documentation pages

div.drawer {
  position: relative;
  z-index: 5;
  left: 0;
  transition: $duration, margin-left;
}

@include layout(compact) {

  // Drawer toggle headings
  .drawer-toggle {

    position: relative;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      margin-top: -8px;
      left: -8px;
      border-style: solid;
      border-width: 8px;
      border-color: transparent;
      border-right-color: #fff;
    }
    &.open:before {
      content: '';
      left: 0;
      border-color: transparent;
      border-left-color: #fff;
    }

  }

  h2.drawer-toggle {
    padding-left: 20px;
  }

}
