<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% if page.title and page.title != site.title %}
    {% if page.collection %}
      <title>{{ page.title | escape }} | {{ site.title | escape }} {{ site.data[page.collection].parent_page.title }}</title>
    {% else %}
      <title>{{ page.title | escape }} | {{ site.title | escape }}</title>
    {% endif %}
  {% else %}
    <title>{{ site.title | escape }} | {{ site.tagline | escape }}</title>
  {% endif %}

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen+Mono|Ubuntu:300,300i,400" />
  {% if page.title == 'Sandbox' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/codemirror.min.css" />
  {% endif %}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/main.css" />

</head>
