<!-- Main header & navigation -->
<header class="header box">
	<ul class="nav">
		<li class="logo"><a href="{{ site.baseurl }}/">jCanvas</a></li>
		<li class="author"><a href="http://calebevans.me/"><span class="by">by</span> Caleb Evans</a></li>
		<li><a href="{{ site.baseurl }}/downloads/">Downloads</a></li>
		<li><a href="{{ site.baseurl }}/docs/">Docs</a></li>
		<li><a href="{{ site.baseurl }}/sandbox/">Sandbox</a></li>
		<li><a href="{{ site.baseurl }}/gallery/">Gallery</a></li>
		<li><a href="{{ site.baseurl }}/plugins/">Plugins</a></li>
		<li><a href="{{ site.baseurl }}/support/">Support</a></li>
	</ul>
</header>
