/**
 * Syntax highlighting styles
 */

// One-line code snippet
code {
  font-family: $monospace;
  font-size: 14px;
  color: #aef;
}

// Code blocks
div.highlighter-rouge {
  position: relative;
  margin-top: 20px;
  border: solid 1px $input-border-color;
  border-radius: 5px;
  background-color: #fff;
  background-clip: padding-box;
  font-family: $monospace;
  color: #333;
  pre {
    position: relative;
    margin: 0;
    padding: 10px 15px;
    text-align: left;
    font-size: 11pt;
    white-space: pre;
    overflow: auto;
    @include layout(compact) {
      font-size: 12pt;
    }
  }
  .action {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    margin: 6px;
    margin-left: 0;
    padding: 1px 6px;
    border-radius: 3px;
    background-color: #696;
    text-align: center;
    line-height: 1.6em;
    font-family: $sans-serif;
    font-size: 10pt;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 250ms ease-in-out;
  }
  code {
    color: inherit;
  }
}

// Syntax highlighting styles
.highlight {
  // Comments
  .c, .c1, .cm, .cp, .cs {
    color: #888;
  }
  // Keywords
  .k, .kc, .kd {
    color: #25b;
  }
  // Strings (single- and double-quoted)
  .s1, .s2 {
    color: #c30;
  }
  // Numbers
  .m, .mf, .mi, .mh, .mo {
    color: #096;
  }
  // Object literal key names and HTML attribute names
  .na {
    color: #909;
  }
  // HTML tag names
  .nt {
    color: #25b;
  }
  // HTML attribute values
  .s {
    color: #096;
  }
}
