$duration: 250ms;

body {
  margin: 0;
  margin-bottom: 25px;
  background-color: #25a;
  background-image: url('../images/grid-bg.svg');
  background-size: 11px;
  background-attachment: fixed;
  text-align: center;
  font-family: $sans-serif;
  font-weight: 300;
  color: #fff;
  @include layout(compact) {
    width: auto;
    padding: 0;
    margin: 0;
  }
}
// Main content
main {
  display: inline-block;
  position: relative;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  text-align: left;
  box-sizing: border-box;
  @include layout(compact) {
    max-width: 100%;
    min-width: 320px;
  }
}

// Ensure that all HTML5 semantic elements render properly in all browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

article {
  padding: 0 20px;
}

// Box section of the page
.box {
  border-radius: 5px;
  box-sizing: border-box;
  background-color: rgba(#000, 0.15);
  color: #fff;
}

// Class for clearing floats
.clearfix {
  clear: both;
}

canvas {
    position: relative;
    margin: 0;
    padding: 0;
    border: solid 1px $input-border-color;
    background-color: #fff;
    background-clip: padding-box;
}

.demo-container {
  position: relative;
  font-size: 0;
}
.demo-rerun {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
  margin: 0;
  background-clip: border-box;
}

// Hidden images used only so code examples can access them by DOM element
#example-images {
  display: none;
}

// Google ad
body > ins {
  margin-top: 30px;
  vertical-align: top;
}
