$duration: 250ms;

body {
  margin: 0;
  margin-bottom: 25px;
  background-color: #25a;
  background-image: url('../images/grid-bg.svg');
  background-size: 11px;
  background-attachment: fixed;
  text-align: center;
  font-family: $sans-serif;
  font-weight: 300;
  color: #fff;
  @include layout(compact) {
    width: auto;
    padding: 0;
    margin: 0;
  }
}
// Main content
main {
  display: inline-block;
  position: relative;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  padding-bottom: 10px;
  text-align: left;
  box-sizing: border-box;
  @include layout(compact) {
    max-width: 100%;
    min-width: 320px;
  }
  p {
    line-height: 1.3em;
  }
}

// Box section of the page
.box {
  border-radius: 5px;
  box-sizing: border-box;
  background-color: rgba(#000, 0.15);
  color: #fff;
}

// Class for clearing floats
.clearfix {
  clear: both;
}

h1 {
  margin-bottom: 0;
  font-size: 2em;
  text-align: center;
}

h1, h2, h3 {
  font-weight: 300;
}

/*
span.c {
  display: inline-block;
  color: #cf0;
}
 */

a {
  color: #cf0;
}

.subtitle {
  display: block;
  margin-bottom: 1em;
  text-align: center;
  font-size: 11pt;
  font-style: italic;
  color: #fff;
  color: rgba(#fff, 0.5);
}

strong,
dfn {
  font-weight: 400;
  font-style: normal;
  color: #cf0;
}

// Lists
main {
  ul {
    text-align: left;
    list-style-type: square;
  }
  li {
    line-height: 1.3em;
  }
}

// Inputs and buttons
button {
  display: inline-block;
  margin: 2px 0;
  border: solid 1px $input-border-color;
  border-radius: 3px;
  padding: 6px 8px;
  background-color: #5b0;
  background-clip: padding-box;
  font-family: $sans-serif;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

// Drawer
div.drawer {
  position: relative;
  z-index: 5;
  left: 0;
  transition: $duration, margin-left;
}

// Mobile site

@include layout(compact) {

  // Drawer toggle headings
  .drawer-toggle {
    position: relative;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  h2.drawer-toggle {
    padding-left: 20px;
  }

  .drawer-toggle .arrow {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: -8px;
    border-style: solid;
    border-width: 8px;
    border-color: transparent;
    border-right-color: #fff;
  }
  .drawer-toggle.open .arrow {
    left: 0;
    border-color: transparent;
    border-left-color: #fff;
  }

}

// Google ad
body > ins {
  margin-top: 30px;
  vertical-align: top;
}
