$duration: 250ms;

body {
	margin: 0;
	margin-bottom: 25px;
	background-color: #25a;
	text-align: center;
	font-weight: 300;
	color: #fff;
	@include layout(compact) {
		width: auto;
		padding: 0;
		margin: 0;
	}
}
// Main content
main {
	display: inline-block;
	position: relative;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
	padding-bottom: 10px;
	text-align: left;
	box-sizing: border-box;
	@include layout(compact) {
		max-width: none;
		min-width: 320px;
	}
	p {
		line-height: 1.3em;
	}
}

// Class for clearing floats
.clearfix {
	clear: both;
}

h1 {
	margin-bottom: 0;
	text-align: center;
}
/*
span.c {
	display: inline-block;
	color: #cf0;
}
 */

.subtitle {
	display: block;
	margin-bottom: 1em;
	text-align: center;
	font-size: 11pt;
	font-style: italic;
	color: #fff;
	color: rgba(#fff, 0.5);
}
.hlow {
	margin-bottom: 0;
}

strong,
dfn {
	font-weight: 400;
	font-style: normal;
}

// Lists
main {
	ul {
		text-align: left;
		list-style-type: square;
	}
	li {
		line-height: 1.3em;
	}
}

// Code snippets
.code {
	position: relative;
	pre {
		position: relative;
		padding-right: 30px;
		text-align: left;
		font-size: 11pt;
		white-space: pre-wrap;
		overflow: auto;
		@include layout(compact) {
			font-size: 12pt;
		}
	}
	.actions {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
	}
	.action {
		display: inline-block;
		opacity: 1;
		margin: 6px;
		margin-left: 0;
		padding: 1px 6px;
		border-radius: 3px;
		background-color: #696;
		text-align: center;
		line-height: 1.6em;
		font-family: $sans-serif;
		font-size: 10pt;
		color: #fff;
		text-decoration: none;
		cursor: pointer;
		transition: opacity 250ms ease-in-out;
		&:hover {
			opacity: 1;
		}

	}
}

// Header
.header {
	position: relative;
	z-index: 10;
	width: 100%;
	height: 40px;
	margin: 0 auto;
	padding: 0;
	border: none;
	border-radius: 0;
	line-height: 40px;
	text-align: right;
	// Mobile header
	@include layout(compact) {
		height: auto;
		margin: 0;
		text-align: center;
		line-height: normal;
		margin: 0;
	}
	// Navigation
	.nav {
		padding: 0;
		list-style-type: none;
		font-size: 0;
	}
	// Nav items
	li {
		display: inline-block;
		height: 40px;
		vertical-align: middle;
		transition: $duration, background-color;
		// Current nav item
		&.current a {
			color: #cf6;
		}
		@include layout(compact) {
			height: auto;
			border-radius: 5px 5px 0 0;
		}
		// Nav items
		a {
			display: inline-block;
			padding: 0 20px;
			background: none;
			text-align: center;
			font-size: 12pt;
			color: #fff;
			text-decoration: none;
			@include layout(compact) {
				padding: 5px 6px;
				margin: 0;
			}
		}

	}
}

// Logo
li.logo,
li.author {
	float: left;
}
li.logo {
	@include layout(compact) {
		display: block;
		float: none;
		margin: 0 auto;
		margin-bottom: 2px;
		border-radius: 0  5px 5px;
		text-align: center;
	}
	a {
		display: inline-block;
		font-size: 20pt;
		line-height: normal;
		color: #fff;
		margin: 3px 10px 0 10px;
		padding: 0;
	}
}
// Author
li.author {
	@include layout(compact) {
		position: absolute;
		top: 5px;
		right: 0;
	}
	a {
		display: inline-block;
		padding: 0 10px;
		font-size: 10pt;
		color: #fff;
		@include layout(compact) {
			color: rgba(#fff, 0.5);
		}
	}
}

// Accordion list panels
.accordion {
	& > li > ul {
		display: none;
		margin: 0;
		padding: 15px;
		padding-left: 40px;
		overflow-x: auto;
	}
	// Accordion list item
	li {
		position: relative;
		outline: none;
		margin: 0;
		padding: 0;

		h3 {
			margin: 0;
			&:hover {
				text-decoration: underline;
				cursor: pointer;
			}
		}
		// Function definitions
		ul.syntax {
			list-style-type: none;
			font-size: 10pt;
			overflow-x: visible;
			li {
				white-space: nowrap;
			}
		}
	}
}

// Drawer
div.drawer {
	position: relative;
	z-index: 5;
	left: 0;
	transition: $duration, margin-left;
}

// Mobile site

@include layout(compact) {

	// Drawer toggle headings
	.drawer-toggle {
		position: relative;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
	h2.drawer-toggle {
		padding-left: 20px;
	}

	.drawer-toggle .arrow {
		position: absolute;
		top: 50%;
		margin-top: -8px;
		left: -8px;
		border-style: solid;
		border-width: 8px;
		border-color: transparent;
		border-right-color: #fff;
	}
	.drawer-toggle.open .arrow {
		left: 0;
		border-color: transparent;
		border-left-color: #fff;
	}

}

// Google ad
body > ins {
	margin-top: 30px;
	vertical-align: top;
}
