// Site Header
.header {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  border: none;
  border-radius: 0;
  line-height: 40px;
  text-align: right;
  // Mobile header
  @include layout(compact) {
    height: auto;
    margin: 0;
    text-align: center;
    line-height: normal;
    margin: 0;
  }
  // Navigation
  .nav {
    padding: 0;
    list-style-type: none;
    font-size: 0;
  }
  // Nav items
  li {
    display: inline-block;
    height: 40px;
    vertical-align: middle;
    transition: $duration, background-color;
    // Current nav item
    &.current a {
      color: #cf6;
    }
    @include layout(compact) {
      height: auto;
      border-radius: 5px 5px 0 0;
    }
    // Nav items
    a {
      display: inline-block;
      padding: 0 20px;
      background: none;
      text-align: center;
      font-size: 12pt;
      color: #fff;
      text-decoration: none;
      @include layout(compact) {
        padding: 5px 6px;
        margin: 0;
      }
    }

  }
}

// Logo
li.logo,
li.author {
  float: left;
}
li.logo {
  @include layout(compact) {
    display: block;
    float: none;
    margin: 0 auto;
    margin-bottom: 2px;
    border-radius: 0  5px 5px;
    text-align: center;
  }
  a {
    display: inline-block;
    font-size: 20pt;
    line-height: normal;
    color: #fff;
    margin: 3px 10px 0 10px;
    padding: 0;
  }
}
// Author
li.author {
  @include layout(compact) {
    position: absolute;
    top: 5px;
    right: 0;
  }
  a {
    display: inline-block;
    padding: 0 10px;
    font-size: 10pt;
    color: #fff;
    @include layout(compact) {
      color: rgba(#fff, 0.5);
    }
  }
}
