/**
 * Syntax highlighting styles
 */

// One-line code snippet
code {
  font-family: $monospace;
  font-size: inherit;
  color: #aef;
}

// Code blocks
pre {
  position: relative;
  margin: 0;
  padding: 10px 15px;
  text-align: left;
  font-size: 11pt;
  white-space: pre;
  overflow-x: auto;
  border: solid 1px $input-border-color;
  border-radius: $code-block-border-radius;
  background-color: #fff;
  background-image: url('/images/grid-fg.svg');
  background-size: 11px;
  background-clip: padding-box;
  font-family: $monospace;
  color: #333;
  &.has-demo {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  & + .demo-container > canvas {
    border-bottom-left-radius: $code-block-border-radius;
    border-bottom-right-radius: $code-block-border-radius;
  }
  @include layout(compact) {
    font-size: 12pt;
  }
  code {
    color: inherit;
  }
}

// Syntax highlighting styles
// Comments
.token.comment {
  color: $code-gray;
}
// Keywords
.token.keyword,
.token.boolean {
  color: $code-blue;
}
// Strings (single- and double-quoted)
.token.string {
  color: $code-orange;
}
// Numbers
.token.number {
  color: $code-green;
}
// Object literal key names and HTML attribute names
.token.literal-property.property {
  color: $code-purple;
}
// HTML tag names
.token.tag {
  color: $code-blue;
}
// HTML attribute names
.token.attr-name {
  color: $code-purple;
}
// HTML attribute values
.token.attr-value {
  color: $code-green;
}

.try-in-sandbox {
  border-top-right-radius: $code-block-border-radius - 1px;
}

// CodeMirror code editor
.cm-s-default {
  // Comments
  .cm-comment {
    color: $code-gray;
  }
  // Keywords
  .cm-keyword {
    color: $code-blue;
  }
  // Strings (single- and double-quoted)
  .cm-string {
    color: $code-orange;
  }
  // Numbers
  .cm-number {
    color: $code-green;
  }
  // Property names
  .cm-property {
    color: $code-purple;
  }
  // Do not color function names
  .cm-def {
    color: inherit;
  }
  .cm-variable,
  .cm-variable-2,
  .cm-variable-3 {
    color: inherit;
  }
}
