.docs-header-site-title-container {
  display: flex;
  flex-direction: column;
}
.site-title {
  line-height: 1;
}
.docs-header-site-title-return-link {
  margin-top: 6px;
  line-height: 1;
  font-size: 12px;
  color: var(--sl-color-gray-2);
  text-decoration: none;
  &:hover {
    color: var(--sl-color-white);
  }
}
