// Buttons
button,
.button {
  display: inline-block;
  margin: 2px 0;
  border: solid 1px var(--input-border-color-dark);
  border-radius: 5px;
  padding: 6px 8px;
  background-color: #5b0;
  background-clip: padding-box;
  font-family: var(--font-family-sans-serif);
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  &:focus {
    outline-width: 0;
    box-shadow: 0 0 3px 2px #cf0;
  }
}

// Button fixed to edge of code block container
button.edge-button,
.button.edge-button {
  position: absolute;
  --button-position: 0;
  top: var(--button-position);
  right: var(--button-position);
  z-index: 10;
  margin: 0;
  padding: 5px 7px;
  font-size: 12px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  background-clip: border-box;
  line-height: 1;
}
.expressive-code button.edge-button,
.expressive-code .button.edge-button {
  border-top-right-radius: inherit;
}
