.collection-plugin_docs #docs-section {
  h2 {
    margin: 0;
  }
  a.download {
    margin: 0;
    margin-right: 5px;
    @include layout(compact) {
      &:first-of-type {
        margin-bottom: 5px;
      }
    }
  }
  .author {
    margin: 0;
    margin-bottom: 10px;
    font-size: 10pt;
    font-style: italic;
  }
}
