---
import StarlightSiteTitle from '@astrojs/starlight/components/SiteTitle.astro';
---

<div class="docs-header-site-title-container">
  <StarlightSiteTitle
    {...{
      ...Astro.props,
      locale: '/docs/'
    }}
  />
  <a href="/jcanvas/" class="docs-header-site-title-return-link">
    Return to website ›
  </a>
</div>
