<div id="example-images">
  <img src="/jcanvas/assets/images/fish.jpg" alt="Fish" id="fish" />
  <img src="/jcanvas/assets/images/ladybug.jpg" alt="Ladybug" id="ladybug" />
  <img src="/jcanvas/assets/images/water.jpg" alt="Water" id="water" />
</div>
