---

---

<header class="header box">
  <nav>
    <ul>
      <li class="logo"><a href="/">jCanvas</a></li>
      <li class="author">
        <a href="https://calebevans.me/"
          ><span class="by">by</span> Caleb Evans</a>
      </li>
      <li><a href="/downloads">Downloads</a></li>
      <li><a href="/docs">Docs</a></li>
      <li><a href="/sandbox">Sandbox</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/plugins">Plugins</a></li>
      <li><a href="/support">Support</a></li>
    </ul>
  </nav>
</header>
