---
layout: default
---
<article>

  <h1>Documentation</h1>
  <span class="subtitle">Learn all about jCanvas</span>

  <div id="docs-sections" class="box">
    {% for category in site.data.docs.categories %}
      <h3>{{ category.name }}</h3>
      <ul>
        {% for section_slug in category.sections %}
          {% assign doc = site.docs | where: 'slug', section_slug | first %}
          <li class="match"><a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a></li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>

  <section id="docs-section">

    <h2>{{ page.title }}</h2>

    {{ content }}

  </section>

</article>
