---
layout: default
---
<article class="collection-{{ page.collection }}">

  <h1>{{ site.data[page.collection].parent_page.title }}</h1>
  <span class="subtitle">{{ site.data[page.collection].parent_page.subtitle }}</span>

  <div id="docs-sections" class="box">
    {% for category in site.data[page.collection].categories %}
      <h3>{{ category.name }}</h3>
      <ul>
        {% for section_slug in category.sections %}
          {% assign doc = site[page.collection] | where: 'slug', section_slug | first %}
          <li class="match"><a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a></li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>

  <section id="docs-section">

    <h2>{{ page.title }}</h2>

    {% if page.collection == 'plugin_docs' %}
      {% if page.author %}
        <p class="author">by {{ page.author }}</p>
      {% endif %}
      {% if page.is_plugin %}
        <a href="{{ site.baseurl }}/assets/jcanvas/plugins/jcanvas-{{ page.slug }}.min.js" class="button download">Download (minified)</a>
        <a href="{{ site.baseurl }}/assets/jcanvas/plugins/jcanvas-{{ page.slug }}.js" class="button download">Download (source)</a>
      {% endif %}
    {% endif %}

    {{ content }}

  </section>

  {% include example-images.html %}

</article>
