/**
 * Syntax highlighting styles
 */

:root {
  // Remove excessive left padding from code blocks
  --ec-codePadInl: 0;
  // Remove box shadow from code blocks
  --ec-frm-frameBoxShdCssVal: none !important;
}

// Remove double-spacing in code snippets
.expressive-code .ec-line {
  margin-top: 0 !important;
}
