h1 {
  margin-top: $h1-margin-top;
  margin-bottom: 0;
  font-size: 2em;
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: 400;
}

.subtitle {
  display: block;
  margin-bottom: 1em;
  text-align: center;
  font-size: 11pt;
  font-style: italic;
  color: #fff;
  color: rgba(#fff, 0.5);
}
