// Override default button styles to
button[aria-controls='starlight__sidebar'] {
  margin: 0;
  border-width: 0;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: #fff;
  color: #000;
  [aria-expanded='true'] & {
    background-color: var(--sl-color-gray-2);
  }
}
