:root {
  --sl-color-accent-high: #49e;
}

// Add box shadow to docs header to distinguish it from sidebar contents
.page > .header {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
}

button,
a.button {
  background-color: var(--sl-color-text-accent);
  color: var(--sl-color-text-invert);
  &:focus {
    outline-width: 0;
  }
}

// Override default button styles to
button[aria-controls='starlight__sidebar'] {
  margin: 0;
  border-width: 0;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: #fff;
  color: #000;
  [aria-expanded='true'] & {
    background-color: var(--sl-color-gray-2);
  }
}
