// Globally-available Sass variables

// Responsive widths
$layout-widths: (
  compact: 800px,
  hybrid: 800px
);

:root {
  --font-family-sans-serif: 'Ubuntu', sans-serif;
  --font-family-monospace: 'Oxygen Mono', monospace;
  --input-border-color-light: rgba(255, 255, 255, 0.2);
  --input-border-color-dark: rgba(0, 0, 0, 0.25);

  // The maximum width of the site's main content area
  --main-max-width: 750px;

  // The top margin for page headings (stored as a variable)
  --h1-margin-top: 30px;
}
