---
import Header from '../components/Header.astro';
import '../assets/styles/main.scss';
import '../fonts.js';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/jcanvas/assets/images/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <script src="../scripts/home.js"></script>
    <script src="../scripts/sandbox.js"></script>
  </body>
</html>
