---
import DefaultLayout from './Default.astro';
const { frontmatter } = Astro.props;

interface Props {
  frontmatter: Record<string, string>;
}
---

<DefaultLayout frontmatter={frontmatter}>
  <article class="page">
    <h1>{frontmatter.title}</h1>
    <span class="subtitle">{frontmatter.subtitle}</span>
    <slot />
  </article>
</DefaultLayout>
